ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 40px;
}

.nav-selected {
  border-bottom: 3px solid white;
}

.home-first-section {
  background-image: url("../imgs/home_main.png");
  background-size: cover;
  color: white;
  width: 100%;
  position: relative;
}

nav {
  float: right;
}

.btn-contartar-limpeza,
.btn-primeira-compra,
.btn-recomende-um-amigo,
.btn-compra-frequente {
  background-color: rgba(255,255,255,0.50);
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  padding: 20px 30px;
}

a {
  color: white;
  text-decoration: none;
}

.text-blue {
  color: #2C2E6F;
}

body {
  font-size: 150%;
}

.center {
  width: 50%;
  margin: auto;
}

.home-main {
  margin-top: 7%;
  margin-bottom: 9%;
}

.lavanda-logo {
  width: 20%;
  display: inline-block;
  margin: 40px 0px 0px 80px;
}

#lavanda-logo-text {
  display: inline-block;
}

.home-main-question {
  font-size: 320%;
  text-align: center;
}

nav {
  margin: 40px 80px;
}

.home-main-button {
  text-align: center;
}

.home-main-pre {
  margin-top: 10px;
  margin-bottom: 30px;
}

.center-text {
  text-align:center;
}

.arrow-down {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff
}

.home-como-funciona-section {
  width: 100%;
}

.img-container {
  margin: auto;  
  width: 80%;
  display: block;
  text-align: center;
}

.img-inside-container {
  position:relative;
  display: inline-block;
  float:left;
  padding: 50px;
  width: 23%; 
  height: 280px;
  margin: 10px;
}

.home-descontos-section {
  background-color: #F4F4F4;
  color: white;
  width: 100%;
}

#primeira-compra {
  background-image: url("../imgs/home_descontos.png");
  background-size: cover;
  position: relative;
}

#recomende-um-amigo {
  background-image: url("../imgs/home_recomende_amigo.png");
  background-size: cover;
  position: relative;
}

#compra-frequente {
  background-image: url("../imgs/home_compra_frequente.png");
  background-size: cover;
  position: relative;
}

.home-footer-section {
  background-color: #151730;
  overflow: auto;
  color: white;
}

.btn-inside-img {
}

.footer-msg {
  font-size: 50%;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-left {
 display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
}

.footer-right {
  float: right;
}

.nav-footer {
  margin-right: 20px;
  margin-bottom: 10px;
  
}

/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 30px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close,
.close-contato {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close-contato:hover,
.close-contato:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: #2C2E6F;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #565DAA;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Facebook */
.facebook {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 65%;
  height: 55px;
  padding-top: 25px;
  border: 0px solid #178bb6;
  border-radius: 8px;
  background: #3b5998;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.facebook:hover,
.facebook:focus {
  background: #37528c;
  color: #ffffff;
  text-decoration: none;
}
.facebook:active {
  background: #1ca4d6;
}
.facebook:before{
  content:  "\0000a0";
  display: inline-block;
  height: 80px;
  width: 17%;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  padding-left: 10px;
  top: -50%;
  left: -32%;
  background: url("http://i.imgur.com/0bcxkOD.png") no-repeat center center #37528c;
  background-size: 13px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

.google {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 65%;
  height: 55px;
  padding-top: 25px;
  border: 0px solid #178bb6;
  border-radius: 8px;
  background: #d34836;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.google:hover,
.google:focus {
  background: #c74534;
  color: #ffffff;
  text-decoration: none;
}
.google:active {
  background: #1ca4d6;
}
.google:before{
  content:  "\0000a0";
  display: inline-block;
  height: 80px;
  width: 17%;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  padding-left: 10px;
  top: -50%;
  left: -34%;
  background: url("http://i.imgur.com/GxFF74f.png") no-repeat center center #c74534;
  background-size: 24px 24px;
  -webkit-border-radius: 8px 0px 0px 8px;
  -moz-border-radius: 8px 0px 0px 8px;
  -o-border-radius: 8px 0px 0px 8px;
  -ms-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
}

#facebook-logo {
  width: 70px;
  height: 70px;
}

.seguro-left {
  padding-bottom: 200px;
  margin-left: 10%;
  padding-top: 200px;
  width: 55%;
}

.competente-right {
  padding-bottom: 300px;
  margin-left: 46%;  
  padding-top: 300px;
  width: 55%;
}

#login-email,
#cadastro-email {
  border: 3px solid #2C2E6F;
  border-radius: 20px;
  width: 70%;
  height: 55px;
  margin-bottom: 10px;
}

#login-senha,
#cadastro-senha,
#cadastro-confirmar-senha {
  border: 3px solid #2C2E6F;
  border-radius: 20px;
  width: 70%;
  height: 55px;
  margin-bottom: 10px;
}

.login-entrar {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #2C2E6F;
  border-radius: 10px;
  width: 30%;
  font-size: 150%;
  color: white;
  padding: 10px 20px;
}

.home-seguro-section {
  background-image: url("../imgs/home_seguro.png");
  background-size: cover;
  width: 100%;
  position: relative;
}

.home-competente-section {
  background-image: url("../imgs/home_competente.png");
  background-size: cover;
  width: 100%;
  position: relative;
}
