<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lavanda</title>
</head>
<body>
 
  <section>
    <header>
      <img src="" alt="Lavanda">
      <nav>
        <ul>
          <li>Home</li>
          <li>Contato</li>
          <li>Login</li>
        </ul>
      </nav>
    </header>
    <div>
      <h1>Vai uma ajuda com a bagunça?</h1>
      <button>contratar limpeza</button>
    </div>
    <a href="#">nosso servico</a>
    <img src="" alt="">
  </section>
  
  <section>
    <h1>Seguro</h1>
    <div>
      <p>Nossa prioridade é garantir que a sua casa esta segura em nossas mãos.</p>
      <p>Temos um processo rigoroso de seleção e treinamento de diaristas para garantir a qualidade e confiabilidade do serviço</p>
    </div>
    <img src="" alt="">
  </section>
  
  <section>
    <h1>Competente</h1>
    <div>
      <p>Garantimos a melhor limpeza que a sua casa ja teve</p>
      <p>Se você não ficar completamente satisfeito com o serviço refazemos a limpeza de graça</p>
    </div>
    <img src="" alt="">
  <section>
  
  <section>
    <div>
      <h2>Como funciona?</h2>
      <h4>é muito simples!</h4>
    </div>
    <div>
      <img src="" alt="">
      <h3>Escolha uma data</h3>
    </div>
    <div>
      <img src="" alt="">
      <h3>Pague online</h3>
    </div>
    <div>
      <img src="" alt="">
      <h3>Receba confirmação</h3>
    </div>
  <section>
  
  <section>
    <h1>Descontos</h1>
    <div>
      <img src="" alt="">
      <button></button>
    </div>
    <div>
      <img src="" alt="">
      <button></button>
    </div>
    <div>
      <img src="" alt="">
      <button></button>
    </div>
    <img src="" alt="">
  </section>
  
  <section>
    <footer>
      <div>
        <img src="" alt="">
        <h6>2016 Lavanda. Todos os direitos reservados, Lavanda LLC</h6>
      </div>
      <div>
        <nav>
          <ul>
            <li>Home</li>
            <li>Contato</li>
            <li>Login</li>
          </ul>
        </nav>
      </div>
    </footer>
  </section>
  
</body>
</html>